<html>
    {{ template "note-details" . }}
</html>
{{ define "note-details" }}
<form class="note" hx-put="/htmx/notes/{{ .Id }}">
    <label for="title">Title: </label>
    <input type="" name="title" value="{{ .Title }}">
    <label for="content">Content: </label>
    <input type="" name="content" value="{{ .Content }}">
    <label for="isDone">Is Done?: </label>
    <input type="checkbox" {{ if .IsDone }} checked {{ end }} name="isDone" value="{{ .IsDone}}">
    <button type="submit" style="cursor: pointer; background-color: lightblue;">Update</button>
</form>
{{end}}

